@font-face {
    font-family: "Tahoma";
    src: local("Tahoma"), url(../fonts/Tahoma.ttf);
}
#parent_log {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */

    display: none;
    height: 100%;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

#log {
    border-radius: 4px;
    background-color: #D5D7D8;
    margin: 100px auto;
    color: #000;
    width: 680px;
    height: 430px;
}

#close_log {
    position: relative;
    top: -6px;
    left: 648px;
    border-radius: 44px;
    height: 36px;
    background-color: #f00;
    width: 36px;
}

#log_header {
    margin-top: 10px;
    margin-bottom: 35px;
}

.log_text_title {
    margin-top: 35px;
    margin-left: 63px;
    font: 16px "Tahoma";
    color: #000;
}
.log_text_info {
    margin-left: 63px;
    font: 13px "Tahoma";
    color: rgba(151, 138, 138, 1);
}

.log_input {
    margin-left: 63px;
    width: 550px;
    height: 30px;
}

#submit {
    border: 0px;
    border-radius: 5px;
    box-shadow: inset -2px 2px 5px rgba(255, 255, 255, 0.2), inset 2px -2px 5px rgba(0, 0, 0, 0.5);
    background-color: #5899B6;
    width: 90px;
    height: 37px;
    margin-top: 15px;
    margin-left: 62px;

}
