footer {
    /*position: absolute;*/
    width: 100%;
    height: 72px;
    margin: 0 auto;
    padding: 0;
    background: #ff6633;
}

.on_footer {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

/*#menu_footer {*/
    /*position: relative;*/
    /*width: 1020px;*/
    /*height: 72px;*/
    /*margin: 0 auto;*/
    /*padding: 0;*/
    /*text-align: center;*/
    /*background: #ff6633;*/
    /*margin: 18px 0 0 0;*/
/*}*/

.menu_list_item_footer {
    float: left;
    display: block;
    margin-right: 30px;
    left: 327px;
    padding: 0px 0px 0px 0px;
}

#menu_list_footer {
    font:16px "Open Sans";
    font-weight: 300;
    list-style: none;
    display: compact;
    width: auto;
    padding: 0;
    margin: 23px 0 0 25px;
    float: left;
}

/*.menu_text_footer {*/
    /*text-decoration: none;*/
    /*color: #ffffff;*/
/*}*/

.menu_a_footer {
    color: #ffffff;
}

.menu_a_footer:hover {
    color: #000000;
    text-decoration: none;
}

#vk_like {
    float: right;
    /*padding: 0 0 50px 0;*/
    /*margin: 0 0 40px 0;*/
    clear: none !important;
    margin-top: 18px;
}

#logo_footer {
    float: left;
    margin: 10px 0 0 10px;
}

#on_footer {
    overflow: hidden;
    height: 72px;
}
