@font-face {
    font-family: 'casper_bold';
    src: url(../fonts/casper_bold.eot);
    src: url(../fonts/casper_bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/casper_bold.woff) format('woff'),
    url(../fonts/casper_bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {*/
/*font-family: "OpenSans";*/
/*src: local("OpenSansBold"), url(resource:resource:/fonts/opensans-bold.ttf);*/
/*}*/

body {
    width: 1020px;
    margin: 0 auto !important;
    /*font-family: 'Open Sans', sans-serif;*/
}

menu {
    width: 1020px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: #f9e8f9;
}

#menu_list {
    overflow: auto;
    list-style: none;
    display: compact;
    margin: 35px 130px 0 0;
    float: right;
    /*width: auto;*/
}

.menu_list_item {
    float: left;
    display: block;
    margin-right: 30px;
    /*position: relative;*/
    left: 327px;
    padding: 0px 0px 0px 0px;
    /*overflow: auto;*/
}

.menu_list_item:hover {
    border-bottom-color:#f15a24;
}

.menu_a:hover {
    color: #000000;
    text-decoration: none;
    /*border-bottom-style: solid;*/
    border-bottom-color: #f15a24;
}

.menu_a {
    font: 16px "Open Sans";
    color: #000000;
    padding-bottom: 25px;
}

.menu_text {
    font: 16px "Open Sans";
    text-decoration: none;
    color: #000000;
    float: left;
    margin: 0;
    padding-bottom: 30px;
}

.menu_text:hover {
    border-bottom-style: solid;
    border-bottom-color: #f15a24;
}

/*@media (min-width: 1300px) {*/

/*#before_menu {*/
/*width: 100%;*/
/*}*/

/*header {*/
/*width: 100%;*/
/*}*/

/*}*/

#if_login {
    height: 36px;
    width: 100%;
}

#logout {
    width: 50px;
    height: 50px;
    background: #f3f3ff;
    margin: 80px;
}

#logo_text {
    font: 24px "casper_bold";
    float: left;
    height: auto;
    width: auto;
    margin: 30px 8px 0 40px;
}

#logo {
    float: left;
    margin: 22px 0 0 0;
}

#mobile {
    height: 108px;
    width: 115px;
    background: #f15a24;
    float: left;
    /*padding-top: 35px;*/
    position: absolute;
    z-index: 500;
    margin: -35px 0 0 0;
    padding-top: 35px;
}

.mobile_menu_text {
    /*font: 16px "Open Sans";*/
    /*text-decoration: none;*/
    /*color: #ffffff;*/
}

.mobile_a {
    font: 16px "Open Sans";
    color: #ffffff;
    padding-bottom: 25px;
}

.if_login {
    height: 36px;
    width: auto;
}

.login_text {
    /*float: left;*/
    height: 36px;
    width: auto;
    position: relative;
    float: right;
    margin-right: 185px;
}

.name {
    font: 16px "Open Sans";
    color: #f15a24;
    padding: 0;
    margin: 0;
    float: left;
}

.logout {
    font: 16px "Open Sans";
    color: #000000;
}

.logout:hover {
    color: #000000;
}

.login_menu_text {
    font: 16px "Open Sans";
    text-decoration: none;
    color: #000000;
    float: left;
    margin: 0;
}