/*@font-face {*/
    /*font-family: "Tahoma";*/
    /*src: local("Tahoma"), url(../fonts/Tahoma.ttf);*/
    /*color: #000000;*/
/*}*/

.carousel {
    width: 1020px;
    height: 288px;
    padding: 0;
    z-index: 1;
    position: relative;
}

.title {
    z-index: 2;
    margin-bottom: -250px;
    position: relative;
    /*margin: 0 auto;*/
    margin-left: 40px;
}

body {
    position: relative;
    background: #FFE4E1;
    margin: 0;
    height: auto;
    width: 1020px;
    z-index: -2;
}

#info {
    /*width: 1020px;*/
    background-color: #f9e8f9;
}

#h_text {
    /*margin-left: 115px;*/
    text-align: center;
    font: 28px "Open Sans";
}

#main_text {
    margin-left: 150px;
    font: 18px "Open Sans";
}

#idea {
    margin-left: 150px;
    font: 18px "Open Sans";
    color: #f15a24;
}

#import_p {
    position: relative;
    top: -12px;
    margin-left: 2px;
    width: 142px;
    float: left;
    font: 12px "Open Sans";
    color: #000000;
    font-size: 100%;
}

.btn_p {
    width: 113px;
    height: 0px;
    margin: 3px 10px;
    cursor: pointer;
}

.text {
    font: 15px "Open Sans";
    color: #000000;
}

.import_btn {
    float: left;
    width: 131px;
    height: 28px;
    font: 15px "Open Sans";
    background: #8BAEB8;
    color: #000000;
    border: 0px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.5);
}

.map {
    width: 1020px;
    height: 776px;
}

#get_all_routes {
    position: relative;
    /*top: -380px;*/
}
#get_users_routes {
    position: relative;
    /*top: -380px;*/
}

#cartoon {
    /*margin: 0px auto;*/
    width: 1020px;
    height: 415px;
}

#cartoon_ul_image {
    position: relative;
    width: auto;
    height: auto;
    margin: 0px auto;
    padding: 0;
    float: left;
    left: 60px;
    top: 25px;
}

#cartoon_ul_text {
    position: relative;
    width: 1020px;
    height: auto;
    /*margin: 0px auto;*/
    padding: 0;
    float: left;
    left: 40px;
    top: 25px;
}


li.cartoon_li_image1 {
    position: relative;
    list-style: none;
    margin-right: 0px;
    padding: 0;
    float: left;
    width: 200px;
    height: 108px;
}

li.cartoon_li_image2 {
    position: relative;
    list-style: none;
    margin-right: 50px;
    padding: 0;
    float: left;
    width: 200px;
    height: 108px;
}

li.cartoon_li_image3 {
    position: relative;
    list-style: none;
    margin-right: 50px;
    padding: 0;
    float: left;
    width: 200px;
    height: 108px;
}

li.cartoon_li_image4 {
    position: relative;
    list-style: none;
    margin-right: 0px;
    padding: 0;
    float: left;
    width: 200px;
    height: 108px;
}

li.cartoon_li_text1 {
    position: relative;
    list-style: none;
    margin-right: 88px;
    padding: 0;
    float: left;
}

li.cartoon_li_text2 {
    position: relative;
    list-style: none;
    margin-right: 108px;
    padding: 0;
    float: left;
}

li.cartoon_li_text3 {
    position: relative;
    list-style: none;
    margin-right: 90px;
    padding: 0;
    float: left;
}

li.cartoon_li_text4 {
    position: relative;
    list-style: none;
    margin-right: 98px;
    padding: 0;
    float: left;
}

.cartoon_img {
    position: relative;
    /*margin: 0 auto;*/
}

.cartoon_p {
    position: relative;
    font: 16px "Open Sans";
    color: #000000;
    text-align: center;
}

#cartoon_third_p {
    /*margin-left: -22px;*/
}

#line {
    margin:42px 0 0 100px
}

#this_work {
    text-align: center;
    font: 28px "Open Sans";
}

.bs-docs-example-submenus .dropdown > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}

.routes{
    position: relative;
    margin: 0 auto;
    width: 1020px;
    height: auto;
    /*margin-top: -78px;*/
    /*z-index: -1;*/
}

.controls li label{
   margin-left: 3px;
}

.controls li{
   list-style: none; 
}

.controls ul{
   padding: 0;
}

.controls{
    font: 14px "Open Sans";
    font-weight: 700;
    display: block;
    float: right;
    /*margin-top: 78px;*/
}

.controls a:link {
    color: #000000;
}

.controls a:visited {
    color: #000000;
}

.controls a:hover {
    color: #000000;
}

.controls a:active {
    color: #000000;
}

.radio_text{
    font: 14px "Open Sans";
    font-weight: 600;
}

.dropdown{
    float: left;
}

.control_button {
    width: 200px;
    padding: 9px !important;
}

.button_text {

    margin: 0px;
    font-size: 14px;
}

.icon{
    margin-right: 8px;
    margin-left: 8px;
    float: left;
}

.dropdown-menu{
    padding: 15px !important;
}

.file_load{
}

.userfile {
    font-weight: 600;
    border: 2px solid #E6E6E6;
    padding: 2px;
    outline: none;
}

.userfile input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.userfile::-webkit-file-upload-button{
    visibility: hidden;
    padding-right: 40px;
}

.userfile::before {
    height: 21px;
    font-weight: normal;
    font-style: normal;
    font-weight: light;
    content: 'Выбрать файл';
    border: 1px solid #999;
    padding: 0px 5px;
    margin: 0px;
    outline: none;
    color: #FFFFFF;
    font-size: 15px;
    background-color: #666666;
    float: left;
}

.userfile:hover::before {
    border-color: black;
    background-color: #666666;
}
.userfile:active::before {
    background-color: #666666;
}

.load_input {
    float: left;
    margin: 0px;
    font-weight: 700;
    border: 2px solid #F15A24;
    color: #F15A24;
    padding: 4px 6px;
    outline: none;
    background-color: #FFFFFF;
    margin-top: 17px;
}

.load_input:hover {
    background-color: #EFEFEF;
}

.upload {
    font-weight: 700;
    padding-top: 2px;
    margin: 0px;
    border: 0px;
    color: #F15A24;
    outline: none;
    background-color: inherit;
    font-size: 15px;
}

.upload::-webkit-file-upload-button {
    visibility: hidden;
}

input[type='radio']{
    /* Hide the input, but have it still be clickable */
    width: 0;
    height: 0;
    opacity: 0;
    float: left;
    cursor: pointer;
}

input[type='radio'] + label{
    margin: 0;
    clear: none;

    /* Left padding makes room for image */
    padding: 2px 0 4px 19px;

    /* Make look clickable because they are */
    cursor: pointer;

    background: url("../img/Radio inactive.png") left center no-repeat;
}

/*
    Change from unchecked to checked graphic
*/

input[type='radio']:checked + label{
    background-image: url("../img/radio_active.png");
}


