
#parent_log {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */

    display: none;
    height: 100%;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

#log {
    background-color: #F2F2F2;
    margin: 200px auto;
    color: #000;
    width: 250px;
    height: 400px;
}


#vk_auth {
    margin: 70px auto;
}

#close_log {
    position: relative;
    text-align: center;
    left: 230px;
    border: 0;
    /*border-radius: 4px;*/
    height: 20px;
    background-color: #F2F2F2;
    width: 20px;
    cursor: pointer;
    float: left;
}

#close_log:hover {
    background-color: #9B9AA0;
}

#close_log:active {
    background-color: #F2F2F2;
}

.log_title {
    margin-left: 20px;
    font: 15px "Open Sans";
    color: #F15A24;
    /*margin-top: 15px;*/
    padding-top: 10px;
}

.log_text_title {
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    font: 14px "Open Sans";
    color: #000;
}
.log_text_info {
    margin-left: 20px;
    font: 12px "Open Sans";
    color: #f15a24;
}

.log_input {
    margin-left: 20px;
    width: 210px;
    height: 30px;
    padding-left: 10px;
    border: 0px;
    margin-bottom: 10px;
}

.log_input:active {
    border: 2px;
    border-color: #f15a24;
}

#submit {
    border: 0px;
    background-color: #F15A24;
    width: 210px;
    height: 36px;
    margin-right: 20px;
    margin-top: 10px;
    /*padding-top: 20px;*/
    float: right;
    font: 14px "Open Sans";
    color: #ffffff;
    font-weight: bold;
}

.log_button {
}

#div {
    width: 500px;
    height: 500px;
    background-color: #ff0000;
}
