#rotator {
    position:absolute;
    /*height:150px;*/
    width: 68px;
    height: 41px;
    /*margin-left: 15px;*/
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#loaderBackground {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);

    display: none;
    height: 100%;
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 101;
    top: 0;
    left: 0;
}

#rotator ul li {
    /*float:left;*/
    position:absolute;
    list-style: none;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#rotator ul li.show {
    z-index:500;
}