footer {
    /*position: absolute;*/
    width: 100%;
    height: 72px;
    margin: 0 auto;
    padding: 0;
    background: #ff6633;
    float: left;
}

.onFooter {
    margin: 0 auto;
    text-align: center;
    width: 960px;
}


.menuListItemFooter {
    float: left;
    display: block;
    margin-right: 30px;
    left: 327px;
    padding: 0px 0px 0px 0px;
}

#menuListFooter {
    font:16px "Open Sans";
    font-weight: 300;
    list-style: none;
    display: compact;
    width: auto;
    padding: 0;
    margin: 23px 0 0 25px;
    float: left;
}

.menuFooter {
    color: #ffffff;
}

.menuFooter:hover {
    color: #ffffff;
    text-decoration: underline;
}

#vk_like {
    float: right;
    /*padding: 0 0 50px 0;*/
    /*margin: 0 0 40px 0;*/
    clear: none !important;
    margin-top:25px;
}

#logoFooter {
    float: left;
    margin: 10px 0 0 10px;
}

#onFooter {
    overflow: hidden;
    height: 72px;
}

.yandexMetrika{
    display: none;
}

.developers{
    display: block;
    margin: 15px 0px;
    float: right;
}

.devLogo{
    margin: 0px 15px;
    float: right;
    height: 45px;
}